
.todo-sections {
    display: flex;
    > button {
        width: 50%;
        background: #1E88E5;
        color: white;
        font-family: system-ui, sans-serif;
        font-size: 1rem;
        line-height: 1.2;
        white-space: wrap;
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #eee;
            color: blue;
        }

        &.active {
            background-color: #8cb691;
        }
    }
}