.todo-sections{
    display: flex;
    > button {
        flex : 1;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        transition: background-color 0.3s ease-in-out;
        &:hover{
            background-color: #eee;
            color: #ffffff;
        }
        &.active{
            background-color: #8cb691
        }
        
    }
}